{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div>
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1>Войти в аккаунт</h1>        
        <div>
            <div>
                <label for="username">Почта</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" autocomplete="email" required autofocus>
                <label for="password">Пароль</label>
                <input type="password" name="_password" id="password" autocomplete="current-password" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button type="submit">Войти</button>
            </div>
        </div>
    </form>

    <div>
        <a href="{{ path('app_register') }}">Регистрация</a>
        <a href="{{ path('app_login') }}">Войти в аккаунт</a>
    </div>
{% endblock %}
