{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <!-- Отображение ошибок формы -->
    {% if form_errors(registrationForm) %}
        <div>
            {{ form_errors(registrationForm) }}
        </div>
    {% endif %}

    <!-- Форма регистрации -->
    <div>
        {{ form_start(registrationForm, {'attr': {'class': 'registration-form'}}) }}
            <h1>Регистрация</h1>
            <div>
                <div>
                    {{ form_row(registrationForm.email, {
                        'attr': {'class': 'form-control-slice', 'placeholder': 'Ваш email'},
                        'label_attr': {'class': 'reg-label'}
                    }) }}
                    {{ form_row(registrationForm.plainPassword, {
                        'attr': {'class': 'form-control-slice', 'placeholder': 'Пароль'},
                        'label': 'Пароль',
                        'label_attr': {'class': 'reg-label'}
                    }) }}
                    <button type="submit">Зарегистрироваться</button>  
                </div>
            </div>


            <div>
            </div>
        {{ form_end(registrationForm) }}
    </div>

    <div>
        <a href="{{ path('app_register') }}">Регистрация</a>
        <a href="{{ path('app_login') }}">Войти в аккаунт</a>
    </div>
{% endblock %}
