{% extends 'base.html.twig' %}

{% set title = "Зарегистрироваться" %}

{% block title %}{{ title }} | Интеллектуальный чат бот Энергомера{% endblock %}
{% block description %}Интеллектуальный чат бот Энергомера{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/styles/login.css') }}">
{% endblock %}

{% block body %}
    <section class="login-site">
        <div class="container">
            <div class="login__wrap">
                <div class="login__photo">
                    <img src="{{ asset('/img/login.png') }}" alt="" class="login__bg" loading="lazy">
                </div>
                <div class="login__body">
                    <div class="login__inputs"> 
                        <form action="{{ path('app_register') }}" method="post" class="login__form">
                            <h1>{{ title }}</h1>
                            <div class="login__input-list">
                                <label for="login" class="form__label">Email</label>
                                <input type="email" class="form__field login__input" id="login" name="login"
                                    pattern="^(.+)@(\S+)$" placeholder="Ваш Email" required>
                                <label for="password" class="form__label">Пароль</label>
                                <input type="password" class="form__field field__password login__input" id="password" name="password"
                                    placeholder="Ваш пароль" required>
                                {% if error %}
                                    <p class="form__error">Пользователь с таким Email уже зарегистрирован. Попробуйте другой Email</p>
                                {% endif %}
                                <button type="submit" class="btn btn-primary form__button" name="login-button">{{ title }}</button>
                                <div class="form__bottom">     
                                    <a href="{{ path('app_login') }}" class="link">Войти</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}