<header>
    <div class="container">
        <div class="header__wrap">
            Какие нибудь дополнительные параметры
            <div class="header__menu">
                <div class="header__menu-groups">
                    {# Перебор групп элементов header #}
                    {% for menu_group in menu_items %}
                        {% if menu_group.url is empty %}
                            <button onclick="openHeaderMenu({{ menu_group.id }})" class="header__menu-group">{{ menu_group.name }}</button>                        
                            <div id="header_sub_menu_{{ menu_group.id }}" class="header__sub-menu">
                                <div class="container">
                                    <div class="header__menu-items">
                                        {% if menu_group.children is defined%}
                                            {# Перебор категорий групп элементов header #}
                                            {% for category in menu_group.children %}
                                                <div class="header__sub-menu-category-block">
                                                    {% if category.url is not empty%}                                                    
                                                        <a href="{{ category.url }}" class="header__sub-menu-category">{{ category.name }}</a>
                                                    {% else %}
                                                        <a class="header__sub-menu-category">{{ category.name }}</a>
                                                    {% endif %}                                                   
                                                    {% if category.children is defined%}
                                                        {# Перебор пунктов категории групп элементов #}
                                                        {% for item in category.children %}
                                                            <a href="{{ item.url }}">{{ item.name }}</a>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <a href="{{ menu_group.url }}" class="header__menu-group">{{ menu_group.name }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>            
        </div>
    </div>
</header>

<div id="header_overlay" class="header__overlay"></div>

{% block javascripts %}
    <script src="{{ asset('/js/header_menu.js') }}"></script>
{% endblock %}
