{% extends 'base.html.twig' %}

{% block title %}Выставление оценок{% endblock %}

{% block body %}

    <div>
        <a href="{{ path('app_panel') }}" >Вернуться в панель</a>
    </div>

    <h1>Выставление оценок</h1>

    {# Шаг 1: Выбор группы #}
    <div>

        <form method="get" action="{{ path('panel_gradeas') }}">
            <label for="group">Выберите группу:</label>
            <select name="groupId" id="group" onchange="this.form.submit()">
                <option value="">Выберите группу</option>
                {% for group in groups %}
                    <option value="{{ group.id }}" {% if group.id == groupId %}selected{% endif %}>{{ group.name }}</option>
                {% endfor %}
            </select>
        </form>
    
    </div>
    <div>

    {% if groupId %}
        {# Шаг 2: Выбор студента #}
        <form method="get" action="{{ path('panel_grades') }}">
            <label for="student">Выберите студента</label>
            <select name="studentId" id="student" onchange="this.form.submit()">
                <option value="">Выберите студента</option>
                {% for student in students %}
                    <option value="{{ student.id }}" {% if student.id == studentId %}selected{% endif %}>{{ student.firstName }}</option>
                {% endfor %}
            </select>
            <input type="hidden" name="groupId" value="{{ groupId }}">
        </form>
    
    </div>

    <div>
        {% if studentId %}
            {# Шаг 3: Выбор предмета #}
            <form method="post" action="{{ path('panel_grades') }}">
                <label for="lesson">Выберите предмет</label>
                <div>
                    <select name="lessonName" id="lesson">
                        <option value="">Выберите предмет</option>
                        {% for lesson in lessons %}
                            <option value="{{ lesson }}">{{ lesson }}</option>
                        {% endfor %}
                    </select>

                    <label for="grade">Оценка:</label>
                    
                    <input type="number" name="grade" id="grade" min="1" max="5" required>

                    <button type="submit">Добавить оценку</button>

                    <input type="hidden" name="groupId" value="{{ groupId }}">
                    <input type="hidden" name="studentId" value="{{ studentId }}">
                </div>
            </form>
        {% endif %}
    {% endif %}
    
    </div>
    

    {% include 'block/grades.html.twig' with {'user': user, 'lessons': lessons, 'grades': grades} %}

    

{% endblock %}
