{% extends 'base.html.twig' %}

{% block title %}Файлы | {{ app_title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/styles/admin_tables.css') }}">
    <link rel="stylesheet" href="{{ asset('/styles/pagination.css') }}">
    <link rel="stylesheet" href="{{ asset('/styles/popup.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        {{ include('blocks/breadcrumbs.html.twig') }}
        <div class="admin-table__wrap">
            <div class="admin-table__head">
                <h1>Файлы</h1>
                <div class="admin-table__buttons">
                    <a href="{{ path('admin_file') }}" class="btn btn-primary" onclick="openPopup()">Добавить файл</a>
                </div>
            </div>
            <div class="admin-table__body">
                <table class="admin-table__table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Имя файла</th>
                            <th>Расширение</th>
                            <th>Размер</th>
                            <th>Особенная ссылка</th>
                            <th>Создан</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for note in notes %}
                            <tr>
                                <td>{{ note.id }}</td>
                                <td>{{ note.fileName }}</td>
                                <td>{{ note.extension }}</td>
                                <td>{{ note.size }}</td>
                                <td>{{ note.url }}</td>
                                <td>{{ note.createdBy }}</td>
                                <td>
                                    <a href={{ path('admin_group', {id: note.id}) }}>Редактировать</a></td>
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>    
            </div>
        </div>     
    </div>
    <div class="overlay"></div>
    {% include('blocks/pagination.html.twig') %}
{% endblock %}

{% block javascripts %}
    {# <script src="{{ asset('/js/admin_files.js') }}"></script> #}
{% endblock %}