
<h1 class="centered">Расписание предметов</h1>
{% if schedule is not null %}
    <div class="schedule-container">

        {% set daysOfWeek = {
            1: 'Понедельник',
            2: 'Вторник',
            3: 'Среда',
            4: 'Четверг',
            5: 'Пятница',
            6: 'Суббота'
        } %}

        {% for day in days %}
            <div>
                <h4 >{{ daysOfWeek[day.dayNumber] }}</h4>
                <table class="schedule-table">
                    <thead>
                        <tr>
                            <th>Время</th>
                            <th>Название урока</th>
                            <th>Кабинет</th>
                            <th>Преподаватель</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lesson in lessonsByDay[day.id] %}
                            <tr>
                                <td>{{ lesson.startTime|date('H:i') }} - {{ lesson.endTime|date('H:i') }}</td>
                                <td>{{ lessonsById[lesson.subjectId] }}</td>
                                <td>{{ lesson.cabinet }}</td>
                                <td>{{ lesson.teacher }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>Расписание для этой группы не найдено.</p>
{% endif %}
