<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('favicon.ico') }}" sizes="any">
        <link rel="stylesheet" href="{{ asset('/styles/main.css') }}">
        <link rel="stylesheet" href="{{ asset('/styles/header.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('/styles/footer.css') }}">

    </head>
    <body>
    <div class="page-wrapper">
        {{ include('layouts/header.html.twig') }}
        <div class="page-main">
            {% block body %}{% endblock %}
        </div>
        {{ include('layouts/footer.html.twig') }}
    </div>
    </body>
    {% block javascripts %}{% endblock %}
</html>
