{% extends 'base.html.twig' %}

{% block title %}Админ Панель{% endblock %}

{% block body %}
    <div>
        <h1>Добро пожаловать в Админ Панель</h1>

        <div>
            <div>
                <a href="{{ path('panel_groups') }}">Управление группами студентов</a>
            </div>

            <div>
                <a href="{{ path('panel_students') }}">Управление студентами</a>
            </div>

            <div>
                <a href="{{ path('panel_grades') }}">Управление оценками</a>
            </div>

            <div>
                <a href="{{ path('panel_subjects') }}">Управление предметами</a>
            </div>

            <div>
                <a href="{{ path('panel_accounts') }}">Подвязка аккаунтов</a>
            </div>
        </div>
    </div>
{% endblock %}
