<header>
    <div>
        <div>
            <a href="{{ path('app_main') }}">
                <img src="/images/logo.png" alt="Логотип" id="site-logo">
            </a>
        </div>

        <div >
            {% if is_granted('ROLE_TEACHER') %}
                <a href="{{ path('app_panel') }}">Панель учителя</a>
            {% endif %}
            <div>            
                <button>Меню</button>
                <ul>
                    {% if app.user %}
                        <li><a href="{{ path('app_account') }}">Аккаунт</a></li>
                        <li><a href="{{ path('app_logout') }}">Выйти</a></li>
                    {% else %}
                        <li><a href="{{ path('app_register') }}">Регистрация</a></li>
                        <li><a href="{{ path('app_login') }}">Войти</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>
