{% extends 'base.html.twig' %}

{% block title %}Прохождение теста{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/styles/test.css') }}">
{% endblock %}

{% block body %}
    <div class="test-wrapper">
        <div class="header-container">
            <h1 class="test-title">{{ test.name }}</h1>
            <div class="test-timer">⏱️ {{ test.time }}</div>
        </div>
        
        <div class="main-test-block">
            <p class="test-description">
                Время на прохождение теста: {{ test.time }} <br>
                Количество вопросов в тесте: {{ totalQuestions }} <br>
                Количество оставшихся попыток: <br>
            </p>
        </div>
        
        <div class="bottom-navigation">            
            <div class="nav-buttons">
                <a href="{{ path('user_test_main', {'testId':test.id}) }}" class="btn btn-primary">Начать тест</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}