{% extends 'base.html.twig' %}

{% block title %}Прохождение теста{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/styles/test.css') }}">
{% endblock %}

{% block body %}
    <div class="test-wrapper">
        <div class="header-container">
            <h1 class="test-title">{{ test.name }}</h1>
            <div class="test-timer">⏱️ {{ test.time }}</div>
        </div>
        
        <div class="main-test-block">
            <p class="test-description">
                Вопросов в тесте: {{ totalQuestions }} <br>
                Осталось попыток: {{ attemptsLeft }}  <br><br>
                Количество баллов на 3: {{ test.pointsFor3 }}  <br>
                Количество баллов на 4: {{ test.pointsFor4 }}  <br>
                Количество баллов на 5: {{ test.pointsFor5 }}  <br><br>
                Всего возможно баллов: {{ totalPoints }}  <br>
            </p>
        </div>
        
        <div class="bottom-navigation">            
            <div class="nav-buttons">
                <a href="{{ path('user_test_main', {'testId':test.id}) }}" class="btn btn-primary">Начать тест</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}