{% extends 'base.html.twig' %}

{% block title %}Добавить пункт меню | {{ app_title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/styles/admin_tables.css') }}">
    <link rel="stylesheet" href="{{ asset('/styles/admin_create.css') }}">
{% endblock %}
 
{% block body %}
    <div class="container">
        <div class="admin-table__wrap">
            <div class="admin-table__head">
                <h1>Добавить пункт меню</h1>
                <a href="{{ path('admin_files') }}", class="btn btn-primary">Отменить</a>
            </div>
            <div class="admin-table__body">
                <form method="POST", enctype="multipart/form-data">
                    <div class="admin-create__input-list">                     
                        <div class="admin-create__field">
                            <label for="name">Название</label>
                            <input id="name" class="admin-create__input" name="name" required>
                        </div>
                        <div class="admin-create__field">
                            <label for="nesting-level">Уровень вложенности</label>
                            <select id="nesting-level" name="item_level" class="admin-create__select" required>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="admin-create__field">
                            <label for="link">Ссылка</label>
                            <input id="link" class="admin-create__input" name="url" required>
                        </div>
                        <div class="admin-create__field">
                            <label for="parent">Родительский элемент</label>
                            <select id="parent" name="parent_id" class="admin-create__select" required>
                                <option value="0">Без родителя</option>
                                {% for parent in parents %}
                                    <option value="{{ parent.id }}">{{ parent.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="admin-create__field">
                            <label for="order">Порядок</label>
                            <input id="order" class="admin-create__input" name="place_order" required>
                        </div>
                        <div class="admin-create__field">
                            <label for="status">Статус</label>
                            <select id="status" name="status" class="admin-create__select" required>
                                {% for status in statuses %}
                                    <option value="{{ status.id }}">{{ status.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="sumbit">Сохранить</button>
                </form>
            </div>
        </div>     
    </div>
    <div class="overlay"></div>
{% endblock %}

{% block javascripts %}
    {# <script src="{{ asset('/js/files-table.js') }}"></script> #}
{% endblock %}