{% extends 'base.html.twig' %}

{% set title = "Добавить группу" %}
{% block title %}{{ title }} | {{ app_title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/styles/admin_tables.css') }}">
    <link rel="stylesheet" href="{{ asset('/styles/admin_create.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        {{ include('blocks/breadcrumbs.html.twig') }}
        <div class="admin-table__wrap">
            <h1>{{ title }}</h1>
            <div class="admin-table__head">
                <div class="admin-create__head-buttons">
                    <a href="{{ path('admin_groups') }}", class="btn btn-primary">Отменить</a>
                    {% if updating_element is not empty %}
                        <a href="{{ path('admin_groups_students', {'groupId':updating_element.id}) }}", class="btn btn-primary">Студенты группы</a>
                        <a href="{{ path('admin_create_schedule', {'groupId':updating_element.id}) }}", class="btn btn-primary">Редактировать расписание</a>
                    {% endif %}
                </div>
            </div>
            <div class="admin-table__body">
                <form method="POST", enctype="multipart/form-data">
                    {% if updating_element is not empty %}
                        <input type="hidden" value="true" name="isUpdate">
                        <input type="hidden" value="{{ updating_element.id }}" name="updateId">
                    {% endif %}
                    <div class="admin-create__input-list">                     
                        <div class="admin-create__field">
                            <label for="name">Название</label>
                            <input id="name" class="admin-create__input" name="name" required
                                value="{{ (updating_element is not empty) ? updating_element.name : "" }}">
                        </div>
                        <div class="admin-create__field">
                            <label for="course">Курс</label>
                            <select id="course" name="course" class="admin-create__select" required>
                                {% for i in 1..4 %}
                                    <option value="{{ i }}" {{ (updating_element is not empty and updating_element.course == i) ? "selected" : "" }}>{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="admin-create__field">
                            <label for="code">Код</label>
                            <input id="code" class="admin-create__input" name="code" required
                                value="{{ (updating_element is not empty) ? updating_element.code : "" }}">
                        </div>
                        <div class="admin-create__field">
                            <label for="semester">Семестр</label>
                            <select id="semester" name="semester" class="admin-create__select" required>
                                {% for i in 1..8 %}
                                    <option value="{{ i }}" {{ (updating_element is not empty and updating_element.semester == i) ? "selected" : "" }}>{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="admin-create__field">
                            <label for="year">Год</label>
                            <input id="year" class="admin-create__input" name="year" required
                                value="{{ (updating_element is not empty) ? updating_element.year : "" }}">
                        </div>
                        <div class="admin-create__field">
                            <label for="status">Статус</label>
                            <select id="status" name="status" class="admin-create__select" required>
                                {% for status in statuses %}
                                    <option value="{{ status.id }}" {{ (updating_element is not empty and updating_element.status == status.id) ? "selected" : "" }}>{{ status.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="admin-create__field">
                            <label for="first_date">Дата начала обучения в первом семестре</label>
                            <input type="date" id="first_date" class="admin-create__input" name="first_date"
                                value="{{ (updating_element is not empty) ? updating_element.edStartsFirst : "" }}">
                        </div>
                        <div class="admin-create__field">
                            <label for="second_date">Дата начала обучения во втором семестре</label>
                            <input type="date" id="second_date" class="admin-create__input" name="second_date"
                                value="{{ (updating_element is not empty) ? updating_element.edStartsSecond : "" }}">
                        </div>
                        <div class="admin-create__field">
                            <label for="description">Описание </label>
                            <textarea rows="5" id="description" class="textarea-input admin-create__input" name="description" required
                                >{{ (updating_element is not empty) ? updating_element.description : "" }}</textarea>
                        </div>
                    </div>
                    <div class="admin-create__field">
                        <label for="isFull">Набор завершен?</label>
                        <select id="isFull" name="isFull" class="admin-create__select" required>
                            <option value="1" {{ (updating_element is not empty and updating_element.isFull == true) ? "selected" : "" }} >Да</option>
                            <option value="0" {{ (updating_element is not empty and updating_element.isFull == false) ? "selected" : "" }} >Нет</option>
                        </select>
                    </div>
                    <button class="btn btn-primary admin-create_button" type="sumbit">Сохранить</button>
                </form>
            </div>
        </div>     
    </div>
    <div class="overlay"></div>
{% endblock %}

{% block javascripts %}
    {# <script src="{{ asset('/js/files-table.js') }}"></script> #}
{% endblock %}