{% extends 'base.html.twig' %}

{% block title %}Добавить пункт меню | {{ app_title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/styles/admin_tables.css') }}">
    <link rel="stylesheet" href="{{ asset('/styles/admin_create.css') }}">
{% endblock %}
 
{% block body %}
    <div class="container">
        {{ include('blocks/breadcrumbs.html.twig') }}
        <div class="admin-table__wrap">
            <div class="admin-table__head">
                <h1>Добавить пункт меню</h1>
                <a href="{{ path('admin_header-menu') }}", class="btn btn-primary">Отменить</a>
            </div>
            <div class="admin-table__body">
                <form method="POST", enctype="multipart/form-data">
                    {% if updating_element is not empty %}
                        <input type="hidden" value="true" name="isUpdate">
                        <input type="hidden" value="{{ updating_element.id }}" name="updateId">
                    {% endif %}
                    <div class="admin-create__input-list">                     
                        <div class="admin-create__field">
                            <label for="name">Название</label>
                            <input id="name" class="admin-create__input" name="name" required
                                value="{{ (updating_element is not empty) ? updating_element.name : "" }}">
                        </div>
                        <div class="admin-create__field">
                            <label for="parent">Родительский элемент</label>
                            <select id="parent" name="parent_id" class="admin-create__select" required>
                                <option value="0">Без родителя</option>
                                {% for parent in parents %}
                                    <option value="{{ parent.id }}" {{ (updating_element is not empty and updating_element.parentId == parent.id) ? "selected" : "" }}>{{ parent.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="admin-create__field">
                            <label for="order">Порядок</label>
                            <input id="order" class="admin-create__input" name="place_order" required
                                value="{{ (updating_element is not empty) ? updating_element.placeOrder : "" }}">
                        </div>
                        <div class="admin-create__field">
                            <label for="status">Статус</label>
                            <select id="status" name="status" class="admin-create__select" required>
                                {% for status in statuses %}
                                    <option value="{{ status.id }}" {{ (updating_element is not empty and updating_element.status == status.id) ? "selected" : "" }}>{{ status.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="admin-create__field">
                            <label for="link">Ссылка</label>
                            <input id="link" class="admin-create__input" name="url"
                                value="{{ (updating_element is not empty) ? updating_element.url : "" }}">
                        </div>
                    </div>
                    <button class="btn btn-primary" type="sumbit">Сохранить</button>
                </form>
            </div>
        </div>     
    </div>
    <div class="overlay"></div>
{% endblock %}

{% block javascripts %}
    {# <script src="{{ asset('/js/files-table.js') }}"></script> #}
{% endblock %}