{% extends 'base.html.twig' %}

{% set title = "Добавить аудиторию" %}
{% block title %}{{ title }} | {{ app_title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/styles/admin_tables.css') }}">
    <link rel="stylesheet" href="{{ asset('/styles/admin_create.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        {{ include('blocks/breadcrumbs.html.twig') }}
        <div class="admin-table__wrap">
            <h1>{{ title }}</h1>
            <div class="admin-table__head">
                <div class="admin-create__head-buttons">
                    <a href="{{ path('admin_schedule_classrooms') }}", class="btn btn-primary">Отменить</a>
                </div>
            </div>
            <div class="admin-table__body">
                <form method="POST", enctype="multipart/form-data">
                    {% if updating_element is not empty %}
                        <input type="hidden" value="true" name="isUpdate">
                        <input type="hidden" value="{{ updating_element.id }}" name="updateId">
                    {% endif %}
                    <div class="admin-create__input-list">                     
                        <div class="admin-create__field">
                            <label for="name">Аудитория</label>
                            <input id="name" class="admin-create__input" name="name" required
                                value="{{ (updating_element is not empty) ? updating_element.name : "" }}">
                        </div>
                        <div class="admin-create__field">
                            <label for="type">Тип аудитории</label>
                            <input id="type" class="admin-create__input" name="type" required
                                value="{{ (updating_element is not empty) ? updating_element.classroomType : "" }}">
                        </div>                        
                    </div>
                    <button class="btn btn-primary admin-create_button" type="sumbit">Сохранить</button>
                </form>
            </div>
        </div>     
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}