{% extends 'base.html.twig' %}

{% set title = "Добавить тест" %}
{% block title %}{{ title }} | {{ app_title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/styles/admin_tables.css') }}">
    <link rel="stylesheet" href="{{ asset('/styles/admin_create.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="admin-table__wrap">
            <div class="admin-table__head">
                <h1>{{ title }}</h1>
                <div class="admin-create__head-buttons">
                    <a href="{{ path('admin_teachers') }}", class="btn btn-primary">Отменить</a>
                    <a href="{{ path('admin_teachers') }}", class="btn btn-primary">Назначить тест</a>
                    <a href="{{ path('admin_teachers') }}", class="btn btn-primary">Добавить вопросы</a>
                </div>
            </div>
            <div class="admin-table__body">
                <form method="POST", enctype="multipart/form-data">
                    {% if updating_element is not empty %}
                        <input type="hidden" value="true" name="isUpdate">
                        <input type="hidden" value="{{ updating_element.id }}" name="updateId">
                    {% endif %}
                    <div class="admin-create__input-list">     
                        <div class="admin-create__field">
                            <label for="name">Название теста</label>
                            <input id="name" class="admin-create__input" name="name" required
                                value="{{ (updating_element is not empty) ? updating_element.name : "" }}">
                        </div>
                        <div class="admin-create__field">
                            <label for="shufle">Перемешать вопросы</label>
                            <select id="shufle" name="shufle" class="admin-create__select" required>
                                <option value="0" {{ (updating_element is not empty and updating_element.shufle == 0) ? "selected" : "" }}>Нет</option>
                                <option value="1" {{ (updating_element is not empty and updating_element.shufle == 1) ? "selected" : "" }}>Да</option>
                            </select>
                        </div>     
                        <div class="admin-create__field">
                            <label for="time">Время на прохождение теста</label>
                            <input type="time" id="time" class="admin-create__input" name="time" required
                                value="{{ (updating_element is not empty) ? updating_element.time : '' }}" min="00:01" max="23:59" step="60">
                        </div>                   
                        <div class="admin-create__field">
                            <label for="status">Статус</label>
                            <select id="status" name="status" class="admin-create__select" required>
                                {% for status in statuses %}
                                    <option value="{{ status.id }}" {{ (updating_element is not empty and updating_element.status == status.id) ? "selected" : "" }}>{{ status.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="admin-create__field">
                            <label for="description">Описание теста</label>
                            <textarea rows="5" id="description" class="textarea-input admin-create__input" name="description" required
                                >{{ (updating_element is not empty) ? updating_element.description : "" }}</textarea>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="sumbit">Сохранить</button>
                </form>
            </div>
        </div>     
    </div>
    <div class="overlay"></div>
{% endblock %}

{% block javascripts %}
    {# <script src="{{ asset('/js/files-table.js') }}"></script> #}
{% endblock %}